<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/toDoList.css}" />
</head>
<body>
<div class="wrapper">
	<div class="content">
		<header class="header">
			<h1>To Do List</h1>
		</header>
		<nav class="nav">
			<a th:href="@{/}">Home</a>
		</nav>
		<main class="main">
			<div class="list">
				<ul>
					<li th:each="toDo : ${toDoList}" th:utext="${toDo.text}">
					</li>
				</ul>	
			</div>
			<div class="form">
				<form th:action="@{/addToDo}" th:object="${inputToDo}" method="POST">
					<input type="text" name="text" placeholder="Add new"/>
					<button type="submit"> Add </button>
				</form>
			</div>
		</main>
		<div class="error" th:if="${inputError}">
				<p>Incorrect input</p>
		</div>
	</div>
</div>
</body>
</html>