<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>
<div class="wrapper">
	<div class="content">
		<header>
			<nav>
				<a th:href="@{/}">Home</a>
				<a th:href="@{/addToDo}">add ToDo</a>
			</nav>
			<h2>To Do List</h2>
		</header>
		<main>
			<table border=1>
				<tr>
					<th> Title </th>
					<th> Description </th>
				</tr>
				<tr th:each="toDo : ${toDoList}">
					<td th:utext="${toDo.title}"></td>
					<td th:utext="${toDo.description}"></td>
				</tr>
			</table>
		</main>
	</div>
</div>
</body>
</html>