<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body>
<div class="wrapper">
	<div class="content">
		<header>
			<nav>
				<a th:href="@{/}">Home</a>
			</nav>
			<h2>To Do List</h2>
		</header>
		<main>
			<table>
				<tr>
					<th> Title </th>
					<th> Description </th>
				</tr>
				<tr th:each="toDo : ${toDoList}">
					<td th:utext="${toDo.title}"></td>
					<td th:utext="${toDo.description}"></td>
				</tr>
			</table>
			
			<div class="error" th:if="${inputError}">
				Incorrect input
			</div>
			
			<form th:action="@{/addToDo}" th:object="${inputToDo}" method="POST">
			<table>
				<tr>
					<th> Title </th>
					<th> Description </th>
				</tr>
				<tr>
					<td><input type="text" name="title" /></td>
					<td><input type="text" name="description" /></td>
				</tr>
			</table>
			<button type="submit"> Add </button>
			</form>
		</main>
	</div>
</div>
</body>
</html>